*{
    box-sizing: border-box;
}

._bgcolor{
    position: relative;
    width: 100%;
    background: rgba(209, 209, 214, 0.856);
    /* margin: 0 4px 0 6px; */
    height: 60vh;
    padding: 30px 20px !important;   
}